@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HelloDoc.Models.User

<div class="justify-content-between d-flex container-fluid my-5 position-relative ">
    <div class="">
        <h1>
           User Profile
        </h1>
    </div>
    <div>
        <a href="Patient_submit_request.html" class="btn btn-outline-info"> ❮  Back </a>
    </div>
</div>
<div class="card border-0 shadow p-4 mb-5  rounded">
    <form asp-action="Put" asp-controller="Profile" class="row g-3 ">
       

        
        <h4 class=" my-4">General Information</h4>
       <div class="col-md-6 form-floating  ">
            <input asp-for="Firstname" class="form-control rounded" name="Firstname" type="text" placeholder="First Name" autocomplete=off>
            <label class="" for="floatingInput">First Name </label>
        </div>
        <div class="col-md-6 form-floating">
            <input asp-for="Lastname" class="form-control rounded" name="Lastname" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Last Name </label>
        </div>
        <div class="col-md-6 form-floating">
            <input asp-for="Strmonth" class="form-control rounded" name="Birthdate" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Birth Date </label>
        </div>

        <h4 class=" my-4"> Contact Information</h4>
        <div class="col-md-6 form-floating  my-1">
            <input asp-for="Mobile" id="phone" type="tel" name="Mobile" class="form-control rounded" placeholder="+91 9537290202" autocomplete=off>
            <!-- <label for="floatingInput">Phone Number </label> -->
        </div>
        <div class="col-md-6 form-floating  my-1">
            <input asp-for="Email" class="form-control rounded" name="Email" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Email </label>
        </div>
       

        <h4 class=" my-4">Location Information</h4>
        <div class="col-md-6 form-floating ">
            <input asp-for="Street" class="form-control rounded" name="Street" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Street </label>
        </div>
        <div class="col-md-6 form-floating ">
            <input asp-for="City" class="form-control rounded" name="City" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">City</label>
        </div>
        <div class="col-md-6 form-floating ">
            <input asp-for="State" class="form-control rounded" name="State" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">State</label>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="Zipcode" class="form-control rounded" name="Zipcode" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Zip Code</label>
        </div>
        @foreach (var prop in Model.GetType().GetProperties())
        {
            @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
        }
        <div class="text-end my-4">
            <div id="editprofile" onclick="toggleFormElements('false')" class="btn btn-info text-white p-2"> Edit </div>
            <input id="submit" type="submit" class="btn btn-info text-white p-2" value="save" >
        </div>

    </form>
</div>

@section Scripts
    {
    <script>
        function toggleFormElements(bDisabled) {
            var inputs = document.getElementsByTagName("input");
            var submit = document.getElementById("submit");
            var editprofile = document.getElementById("editprofile");
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = !inputs[i].disabled;
            }
            if (inputs[0].disabled) {
                submit.style.display = "none";
                editprofile.style.display = "inline-block";
            }else{
                submit.style.display = "inline-block";
                editprofile.style.display = "none";
            }
        }
        window.onload = function (e) {
            toggleFormElements('true')
        }
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            separateDialCode: true,
            hiddenInput: "full",
            preferredCountries: ["us", "co", "in", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script type="text/javascript">


        $(function () {
            $("form").submit(function () {
                var full_number = phoneInput.getNumber(intlTelInputUtils.numberFormat.E164);
                $("input[name='PhoneNumber']").val(full_number);

            });
        });

    </script>
}