@{
    ViewData["Title"] = "Create Account";
}
<div class="text-center ">
    <div class="my-3 top-0 end-0 mt-3 mx-5 position-absolute border border-1 text-info border-info rounded-3">
        <button class="btn btn-outline-info" onclick="mode()">
            <i class="bi bi-moon"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-xl-4 col-lg-12 col-md-12 position-relative text-center" style="min-height: 100vh;">
        <div class="n-background w-100">
            <div class="main-login  position-relative ">
                <div class="logo ">
                    <img src="/images/Fig56. Patient site 1.png" class="img-fluid my-5 bg-white " />
                </div>
                <div class="content m-5">
                    <div class=" d-flex justify-content-between">
                        <a asp-action="Index" asp-controller="Login" class="text-primary text-decoration-none py-2 fw-bolder">
                            ❮ &nbsp; Back
                        </a>
                    </div>
                    <form  asp-action="CreatNewAccont" asp-controller="Login">
                        <h1 class="login fs-1 fw-bolder"> Create Account</h1>
                        <div class="form-floating input-group with-icon mb-3">
                            <input class="form-control rounded" name="Email" type="text" placeholder=Suchtext autocomplete=off>
                            <i class="bi bi-person"></i>
                            <label for="floatingInput">Email </label>
                        </div>
                        <div class="form-floating input-group with-icon mb-3">
                            <input class="form-control rounded" name="Password" type="password" placeholder=Suchtext
                                   autocomplete=off>
                            <i class="bi bi-eye"></i>
                            <label for="floatingInput" class="bg-transparent">Password</label>
                        </div>
                        <div class="form-floating input-group with-icon mb-3">
                            <input class="form-control rounded"  type="password" placeholder=Suchtext
                                   autocomplete=off>
                            <i class="bi bi-eye"></i>
                            <label for="floatingInput" class="bg-transparent">Password Conformation</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="submit" value="Create" class="btn btn-info fs-4 text-white w-100">
                            
                        </div>
                    </form>
                    <a asp-action="Index" asp-controller="Login" class="text-center  text-decoration-none text-primary">
                        ❮ &nbsp; Back To Login
                    </a>
                </div>
                <div class=" justify-content-center position-fixed text-dark-emphasis  w-100 left-0 align-self-end d-flex align-items-end  bottom-0 py-5 align-text-bottom align-items-end">
                    <div class="text-center">
                        <span class="text-center mx-2">
                            Term Of Condition
                        </span>
                        <span>
                            I
                        </span>
                        <span class="mx-2">
                            Privacy Policy
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>