
@{
    ViewData["Title"] = "Home Page";
}


<div class="row min-vh-100 ">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="text-center container-fluid my-5 position-relative ">
            <div class="logo">
                <img src="images/Fig56. Patient site 1.png" class="img-fluid" />
            </div>
            <div class="content m-5">
                <a asp-action="Index" asp-controller="SubmitRequest" class="btn fs-3 py-2 w-100 btn-info text-white my-2">
                    Submit A Request
                </a>
                <a asp-action="Index" asp-controller="Login" class="btn fs-3 py-2 w-100 btn-primary text-white my-2">
                    Registered Patient
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>



