/* Import All css here */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css";
@import "bootstrap.min.css";
@import "style.css";


/* */
@import "";
@import "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css";
