@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Concierge  request";
}
@model HelloDoc.Models.ViewPatientConcierge
<partial name="../_Partial/_PartialConformationModel" />
<div class="justify-content-between d-flex container-fluid my-5 position-relative ">
    <div class="">
        <h1>  Create Concierge  request </h1>
    </div>
    <div>
        <a asp-action="Index" asp-controller="SubmitRequest" class="btn btn-outline-info"> ❮  Back </a>

    </div>
</div>
<div class="card border-0 shadow p-4 mb-5  rounded">
    <form class="row g-3 " asp-action="Post" asp-controller="PatientConcierge">
        <h4 class=" my-4">Concierge Information</h4>

        <div class="col-md-6 form-floating  ">
            <input asp-for="CON_FirstName" class="form-control rounded" name="CON_FirstName" type="text" placeholder="First Name" autocomplete=off>
            <label class="" for="floatingInput">Your First Name </label>
            <span asp-validation-for="CON_FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating">
            <input asp-for="CON_LastName" class="form-control rounded" name="CON_LastName" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Your Last Name </label>
            <span asp-validation-for="CON_LastName" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="CON_PhoneNumber" id="phone" type="tel" name="CON_PhoneNumber" class="form-control rounded" autocomplete=off>
            <span asp-validation-for="CON_PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="CON_Email" class="form-control rounded" name="CON_Email" type="email" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Your Email </label>
            <span asp-validation-for="CON_Email" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="CON_PropertyName" class="form-control rounded" name="CON_PropertyName" type="email" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Hotel / Propety Name</label>
            <span asp-validation-for="CON_PropertyName" class="text-danger"></span>
        </div>

        <h4 class=" my-4">Concierge Location</h4>
        <div class="col-md-6 form-floating ">
            <input asp-for="CON_Street" class="form-control rounded" name="CON_Street" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Street </label>
            <span asp-validation-for="CON_Street" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating ">
            <input asp-for="CON_City" class="form-control rounded" name="CON_City" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">City</label>
            <span asp-validation-for="CON_City" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating ">
            <input asp-for="CON_State" class="form-control rounded" name="CON_State" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">State</label>
            <span asp-validation-for="CON_State" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="CON_ZipCode" class="form-control rounded" name="CON_ZipCode" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Zip Code</label>
            <span asp-validation-for="CON_ZipCode" class="text-danger"></span>
        </div>



        <h4 class=" my-4 fw-bolder">Patient Information</h4>
        <div class="col-md-12 form-floating ">
            <textarea asp-for="Symptoms" class="form-control rounded" name="Symptoms" type="text" rows="5" placeholder=Suchtext autocomplete=off></textarea>
            <label for="floatingInput">Symptoms </label>
            <span asp-validation-for="Symptoms" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  ">
            <input asp-for="FirstName" class="form-control rounded" name="FirstName" type="text" placeholder="First Name" autocomplete=off>
            <label class="" for="floatingInput">First Name </label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating">
            <input asp-for="LastName" class="form-control rounded" name="LastName" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Last Name </label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating">
            <input asp-for="BirthDate" class="form-control rounded" name="BirthDate" type="date" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Birth Date </label>
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <h4 class=" my-4 fw-bolder">Patient Contact Information</h4>
        <div class="col-md-6 form-floating  my-1">
            <input asp-for="Email" class="form-control rounded" name="Email" type="email" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Email </label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-floating  my-1">
            <input asp-for="PhoneNumber" id="phone1" type="tel" name="PhoneNumber" class="form-control rounded" autocomplete=off>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <h4 class=" my-4 fw-bolder">Patient Location</h4>
        <div class="col-md-6 form-floating  ">
            <input asp-for="RoomSite" class="form-control rounded" name="RoomSite" type="text" placeholder=Suchtext autocomplete=off>
            <label for="floatingInput">Room / site ( Optional ) </label>
            <span asp-validation-for="RoomSite" class="text-danger"></span>
        </div>

        <div class="text-end">
            <input class="btn btn-info text-white" type="submit" value="Create"> 
            <button class="btn btn-outline-info"> cancel </button>
        </div>
    </form>
</div>
@section Scripts
    {
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>*@
    <script type="text/javascript">
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            preferredCountries: ["us", "co", "in", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        

     

    </script>
}